svg {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(90deg);
}

.chord {
  width: 50px;
  height: 0px;
  transform: scale(0.2);
}

.chord-name {
  text-align: center;
  width: 200px;
}

h3 {
  font-size: 50px;
}
