.song {
  width: 500px;
}

.chords {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 480px;
  height: 100px;
}

.links {
}

.line {
  display: flex;
  margin-bottom: 15px;
}

.line-chord {
  width: 60px;
}
